body {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  color: #292929;
  margin: 0;
  background-color: #F0EEEF;
}

h1, h2, h3 {
  font-family: 'Alata', sans-serif;
  text-align: center;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

audio {
  float: right;
}

/*NAVBAR*/

a {
  text-decoration: none;
}

a:visited { color: #454545; text-decoration-line: line-through; }
a:hover { color: #292929; text-decoration-line: line-through; }

.navbar {
  position: sticky;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  top: 0px;
  color: #292929;
  z-index: auto;
}

/*INTRODUCTION*/

.banner {
  background: #292929;
  color: #F0EEEF;
}

.round_picture {
  border-radius: 150px;
  display: block;
  margin: 0 auto;
}

/*CONTAINERS AND CARDS*/

.container {
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container_x2 {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
  .container_x2 {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
  .container_x2 {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
  .container_x2 {
    width: 300px;
  }
}



.card {
  width: 650px;
}

.card_white {
  border-radius: 50px;
  background: #F0EEEF;
  box-shadow: 20px 20px 50px #cac8c9, -20px -20px 50px #ffffff;
  padding: 40px;
  margin: 40px 20px;
  flex: 0 0 200px;
}

.card_white_inset {
  border-radius: 50px;
  background: #F0EEEF;
  box-shadow: inset 8px 8px 15px #cfcfd3, inset -8px -8px 20px #ffffff;
  padding: 40px;
  margin: 20px 0px;
}

.card_white_small {
  border-radius: 50px;
  background: #F0EEEF;
  box-shadow: 20px 20px 50px #cac8c9, -20px -20px 50px #ffffff;
  padding: 40px;
  margin: 40px 20px;
  flex: 0 0 200px;
  width: 300px;
  margin: 0 auto;
}

/*FOOTER*/

.footer {
  background-color: #292929;
  color: #F0EEEF;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
}

